body 
  padding: 0
  margin: 0
  color: #fff
  overflow-x: hidden
@media (min-width: $MQMobile)
  .nav-links a
    &:hover, &.router-link-active
      color $textColor
  .nav-item > a:not(.external)
    &:hover, &.router-link-active
      margin-top 0.875px
      border-bottom 2px solid lighten($accentColor, 8%)
@media (min-width: $MQMobile)
  .dropdown-wrapper
    height 1.8rem
    &:hover .nav-dropdown,
    &.open .nav-dropdown
      // override the inline style.
      display block !important
    &.open:blur
      display none
    .nav-dropdown
      background: rgb(0 0 0 / 54%) !important;
      border none !important
      left: 50%
      right: unset !important
      transform: translatex(-50%)
.dropdown-wrapper .dropdown-title, .dropdown-wrapper .mobile-dropdown-title
  font-size: 16px !important
  color: #fff !important
.dropdown-wrapper .dropdown-title .arrow, .dropdown-wrapper .mobile-dropdown-title .arrow
  display: none !important
.navbar
  padding: unset !important
  height: 8.12rem
  border-bottom: none
  .links 
    background-color: transparent !important
    font-size: 16px !important
    top: 50% !important
    transform: translateY(-50%) !important
    .nav-links .nav-item 
      margin-left: 3.75rem
      &:last-child
        margin-right: 3.75rem
  .site-name
    display: none !important
.page
  padding-bottom: unset !important
  .area_title 
    font-size: 2.5rem
    margin-bottom: 2.8rem
  .white_area_title 
    color:#fff
  .area_content
    margin-top: 3rem
  .content_exhibit
    color: #000
    text-align: center
  .main_padding
    padding: 5.8rem 21rem 6.2rem
    position relative
  .content_padding 
    padding: 2.9375rem 6.0625rem;
  .theme-default-content:not(.custom)
      max-width: none
      padding: 0
  .theme-default-content:not(.custom) > *:first-child
      margin-top: unset
.flex_row {
  display: flex
  justify-content: space-between
}
.flex_start {
  justify-content: flex-start
}
.flex_vertical
  flex-direction: column
.flex_around
  justify-content: space-around
.flex_evently
  justify-content: space-evenly
.align_center
  align-items: center
.sidebar
  background: #222b34;
  border-right: unset
  z-index: 20
.nav-links
  border-bottom: unset !important
.home .footer
  border-top: none !important
.page-edit
  display: none
@media (min-width:1200px) 
  .desktop_flex
    display: flex;
  .flex_shrank 
    flex: 1;
@media (max-width: 1200px) 
  .page
    .main_padding
      padding: 20px
  .pricing_plan
    &:nth-child(2) 
      margin: 0 !important
  .pricing_plan_content
    display: block
    .align_center
      width: auto !important
  .appraise_block
    display: block
    .appraise
      display: contents
  .help_inline
    display: inline-block
    .right
      margin-left: unset !important
  .team_team
    display: inline-block
  .blog
    display: inline-block
    .team
      display: inline-block
  .contact_us
    display: block
    .map
      width: unset !important
    .submit_form
      input,textarea
        width: 100% !important
        padding: 0.9375rem 0 !important
  .company_info
    display: inline-block
    div
      text-align: center !important
    .connect
      max-width: unset !important
  .inline_common
    display: inline-block !important
@media (max-width:1320px)
  .navbar .links .nav-links .nav-item
    margin-left: 0.75rem
@media (min-width: 1330px) and (max-width:1550px) 
  .submit_form
    input,textarea
      width: 80% !important
  .team_team
    .team
      img
        width: 12.25rem !important
  .blog
    img
      width: 15.5rem !important
  .navbar .links .nav-links .nav-item
    margin-left: 1.75rem
